body {
    color: white;
  }
  
  .grid-header {
    display: flex;
    align-items: center;
    background-color: #764790;
  }
  
  .bell {
    width: 40px;
    margin: 0 10px 0 auto;
  }
  
  .name {
    margin: 0 0 0 10px;
  }

  .home {
   
  }

  .nav {

    width: 40px;
    margin: 0 10px 0 auto;
}
