* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 50px 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main";
  color: white;
  
  font-family: "Martel Sans", sans-serif;
}
.tab {

  color: gray;
}
.grid-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #764790;
  padding: 0 10px;
}

.grid-header-right {
  display: flex;
  align-items: center;
}

.app-name {
  font-size: 24px;
  font-weight: 700;
  margin-right: 10px;
}

.app-name span {
  font-weight: 300;
}

.bell {
  position: relative;
}

.bell img {
  width: 35px;
  height: 35px;
  filter: invert();
}

.bell span {
  position: absolute;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: green;
  border-radius: 50%;
}

.bell,
.profile-pic {
  margin-right: 10px;
}

.profile-pic {
  width: 40px;
  border-radius: 50%;
}

.name {
  font-size: 16px;
  font-weight: 300;
}

.alert {
background-color: #764790;

}

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  padding: 10px 0;
}

nav img {
  width: 40px;
  filter: invert();
}

nav a + a {
  margin-left: 25px;
}

header {
  grid-area: header;
}


main {
  grid-area: main;
 color: black;
}

@media (min-width: 768px) {
  body {
    grid-template-rows: 70px 1fr;
    grid-template-columns: 70px 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }
  nav {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
  }

  nav a + a {
    margin-left: initial;
    margin-top: 25px;
  }
}
